.page_btn
{
    background-color:#0E2242;
    color:#fff;

}
.page_btn:hover{
    background-color: #08273B;
    color:#fff;
}
.deletebtn{
    color:#ff0000;
}
.camerabtn{
    color:green;
}
.print{
    color:darkorange;
}

.header-navbar{
    
}
